# Exploratory Data Analysis 1
An approach to EDA:  
![image of the data flow showing visualization as an exploratory and iterative process](http://benbestphd.com/images/r4ds_data-science.png)

#### The goal of EDA is to discover patterns in data. This is a fundamental stepping stone towards predictive modelling, or an end goal in itself. 

Tips for good EDA:
- Get to know the context of the data.  
- Question the data: Who collected it? Who is distributing it? Do all of the patterns make sense to what you know about the world? If they don’t, go back and look more closely at your data.

- Use EDA to formulate a question based on the patterns that you see.
- Use EDA to check if a hypothesis is worth a deeper analysis.

- Keep the questions SIMPLE and BRIEF- the goal is to understand and build complexity further on.
- Its an iterative process-- its okay to repeat things so long as you learn from previous output.

In [13]:
# importing the libraries for data processing
import numpy as np 
import pandas as pd

### 1. Tidying our charts data

Read the csv file, check for missing, duplicated and unexpected values, and filtering if needed

In [19]:
# read the charts dataset
charts_df = pd.read_csv("get_spotify_data/data/spotify_daily_charts.csv")
charts_df.head()

,date,position,track_id,track_name,artist,streams
0,2019-09-01,1,6IdEQ3HUseBeRUYFSzSMdL,Zebbiana,Skusta Clee,267548
1,2019-09-01,2,6v3KW9xbzN5yKLt9YKDYA2,Señorita,Shawn Mendes,259828
2,2019-09-01,3,1dGr1c8CrMLDpV6mPbImSI,Lover,Taylor Swift,240408
3,2019-09-01,4,0gDRtumoR9ZrvAlnniToMz,Ikaw At Ako,Moira Dela Torre,236726
4,2019-09-01,5,5l9g7py8RCblcvbZgGQgSd,Pagtingin,Ben&Ben,190049

### Data Checks
It is prudent to do the following on a DataFrame before any analysis is made
1. Check shape
2. Check data types of columns
3. Check null values in columns
4. Check rows with null values
5. Check for duplicates

In [20]:
#Check the shape of the dataframe
charts_df.shape

(76200, 6)

In [21]:
#Check data types of the columns
charts_df.dtypes

date          object
position       int64
track_id      object
track_name    object
artist        object
streams        int64
dtype: object

In [22]:
#Check null values in the columns
charts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76200 entries, 0 to 76199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        76200 non-null  object
 1   position    76200 non-null  int64
 2   track_id    76200 non-null  object
 3   track_name  76200 non-null  object
 4   artist      76200 non-null  object
 5   streams     76200 non-null  int64
dtypes: int64(2), object(4)
memory usage: 3.5+ MB

In [32]:
#Check for duplicates
sum(charts_df.duplicated())

0

In [33]:
#check if unique values are expected
charts_df['position'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200], dtype=int64)

In [25]:
len(charts_df['artist'].unique())

381

In [26]:
len(charts_df['track_name'].unique())

917

In [34]:
len(charts_df['track_id'].unique())

1061

In [37]:
>Q: Why do we have different numbers of track ids and track names

SyntaxError: invalid syntax (<ipython-input-37-223b15d7e2ff>, line 1)

##### Convert date to datetime index
Pandas has a very useful method `pd.to_datetime` that smartly recognizes date and time columns and allows for easier time series techniques

In [38]:
#transform date column into a datetime column
charts_df['date'] = pd.to_datetime(charts_df['date'])
charts_df.head()

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
0,2019-09-01,1,6IdEQ3HUseBeRUYFSzSMdL,Zebbiana,Skusta Clee,267548,9,2019,1,6
1,2019-09-01,2,6v3KW9xbzN5yKLt9YKDYA2,Señorita,Shawn Mendes,259828,9,2019,1,6
2,2019-09-01,3,1dGr1c8CrMLDpV6mPbImSI,Lover,Taylor Swift,240408,9,2019,1,6
3,2019-09-01,4,0gDRtumoR9ZrvAlnniToMz,Ikaw At Ako,Moira Dela Torre,236726,9,2019,1,6
4,2019-09-01,5,5l9g7py8RCblcvbZgGQgSd,Pagtingin,Ben&Ben,190049,9,2019,1,6

In [39]:
#extract month 
charts_df['month']=charts_df['date'].dt.month
charts_df.head()

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
0,2019-09-01,1,6IdEQ3HUseBeRUYFSzSMdL,Zebbiana,Skusta Clee,267548,9,2019,1,6
1,2019-09-01,2,6v3KW9xbzN5yKLt9YKDYA2,Señorita,Shawn Mendes,259828,9,2019,1,6
2,2019-09-01,3,1dGr1c8CrMLDpV6mPbImSI,Lover,Taylor Swift,240408,9,2019,1,6
3,2019-09-01,4,0gDRtumoR9ZrvAlnniToMz,Ikaw At Ako,Moira Dela Torre,236726,9,2019,1,6
4,2019-09-01,5,5l9g7py8RCblcvbZgGQgSd,Pagtingin,Ben&Ben,190049,9,2019,1,6

In [40]:
#extract year
charts_df['year']=charts_df['date'].dt.year
# get day and day of week
charts_df['day']=charts_df['date'].dt.day
charts_df['day_of_week']=charts_df['date'].dt.dayofweek # The day of the week with Monday=0, Sunday=6.
charts_df.head()

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
0,2019-09-01,1,6IdEQ3HUseBeRUYFSzSMdL,Zebbiana,Skusta Clee,267548,9,2019,1,6
1,2019-09-01,2,6v3KW9xbzN5yKLt9YKDYA2,Señorita,Shawn Mendes,259828,9,2019,1,6
2,2019-09-01,3,1dGr1c8CrMLDpV6mPbImSI,Lover,Taylor Swift,240408,9,2019,1,6
3,2019-09-01,4,0gDRtumoR9ZrvAlnniToMz,Ikaw At Ako,Moira Dela Torre,236726,9,2019,1,6
4,2019-09-01,5,5l9g7py8RCblcvbZgGQgSd,Pagtingin,Ben&Ben,190049,9,2019,1,6

### 2. Examining the charts data
Reshape and aggregate the DataFrame to answer basic data questions

In [41]:
#Lets create tallies of each column using the `value_counts` method
charts_df['artist'].value_counts()[:10]

Ben&Ben             3362
Taylor Swift        2518
December Avenue     2326
Lauv                2118
LANY                1940
Ed Sheeran          1749
Moira Dela Torre    1618
This Band           1109
BTS                 1089
Post Malone         1047
Name: artist, dtype: int64

In [42]:
charts_df['track_name'].value_counts()

Falling                            462
Nobela                             446
Ang Huling El Bimbo                402
Hindi Na Nga                       381
Señorita                           381
                                  ...
Despacito - Remix                    1
BOY - KR Ver.                        1
Merry Christmas, Happy Holidays      1
You're Beautiful                     1
Kwento Ng Pasko                      1
Name: track_name, Length: 917, dtype: int64

In [45]:
#filtering columns
charts_df[charts_df['track_name']=='Happier']

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
121,2019-09-01,122,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,33236,9,2019,1,6
161,2019-09-01,162,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,26867,9,2019,1,6
330,2019-09-02,131,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,33689,9,2019,2,0
354,2019-09-02,155,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,29317,9,2019,2,0
523,2019-09-03,124,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,35083,9,2019,3,1
...,...,...,...,...,...,...,...,...,...,...
33583,2020-02-15,184,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,28298,2,2020,15,5
33796,2020-02-16,197,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,26734,2,2020,16,6
37795,2020-03-07,196,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,26758,3,2020,7,5
47990,2020-04-27,191,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,21555,4,2020,27,0
48193,2020-04-28,194,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,21499,4,2020,28,1

> Q1. From top 50 most streamed, get top 20 most frequently occuring artists

In [46]:
charts_df[charts_df['position']<=50]['artist'].value_counts()[:20]

Ben&Ben                2317
December Avenue         768
Matthaios               657
Lauv                    622
Taylor Swift            479
Post Malone             466
Lewis Capaldi           456
Dua Lipa                423
Maroon 5                403
I Belong to the Zoo     379
Justin Bieber           362
Ed Sheeran              346
This Band               325
Moira Dela Torre        319
Dan + Shay              314
Kina                    313
Magnus Haven            312
The Juans               306
Jeremy Zucker           294
Tones And I             282
Name: artist, dtype: int64

> Q2. From top 50 list this year, get top 20 most frequently occuring artists

In [47]:
charts_df[(charts_df['position']>=50)&(charts_df['year']==2020)]['artist'].value_counts()[:20]

Taylor Swift          1336
December Avenue       1242
Lauv                  1231
Moira Dela Torre       957
LANY                   916
Ed Sheeran             891
Ben&Ben                763
BTS                    713
Sam Smith              654
This Band              621
TWICE                  584
Harry Styles           581
Hale                   518
South Border           515
Jason Mraz             514
Michael Pangilinan     481
Shawn Mendes           446
Post Malone            443
PDL                    417
BLACKPINK              417
Name: artist, dtype: int64

> Q3. On what positions did Taylor Swift land on the chart for 2019? What were her songs that landed first on the chart?

In [48]:
np.sort(charts_df[(charts_df['artist']=='Taylor Swift')&(charts_df['year']==2019)]['position'].unique())

array([  3,   4,   5,   6,   7,   8,   9,  10,  13,  14,  15,  16,  17,
        18,  19,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,
        32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
        58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
        84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,
        97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
       150, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163,
       164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176,
       177, 179, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192,
       193, 194, 195, 196, 197, 198, 199, 200], dtype=int64)

In [49]:
charts_df[(charts_df['artist']=='Taylor Swift')&\
                    (charts_df['year']==2019)&\
                    (charts_df['position']==1)]['track_name'].unique()

array([], dtype=object)

### 3. Describing and Aggregating the charts dataset

Basic stats on the streams column using the `describe` method

In [50]:
charts_df['streams'].describe()

count     76200.000000
mean      55065.761063
std       44052.659114
min       18324.000000
25%       28517.750000
50%       36583.500000
75%       63558.750000
max      514546.000000
Name: streams, dtype: float64

The pandas GroupBy operator functions in the same way as pivot_table in excel

The syntax is:
```python
df.groupby('index_column')['agg_column'].aggfunc
df.groupby(['index_column1','index_column2']).agg('agg_column1':aggfunc1, 'agg_column2':aggfunc2)
```

Q: How many total streams did Spotify earn per year?

In [ ]:
charts_df.groupby('year')['streams'].sum()   #inputting a column name string in agg_column outputs a Series

In [ ]:
charts_df.groupby('year')[['streams']].sum()   #inputting a list in agg_column outputs a DataFrame

> Q: How many streams did each of the 200 positions contribute to the annual streams of spotify?

In [ ]:
charts_df.groupby(['year','position'])[['streams']].sum()   #inputting a list in agg_column outputs a DataFrame

> Q: What visualization would best suit the output of the cell above?

### 4. Combining two datasets

- What insights could we get from merging the charts and tracks datasets?

In [ ]:
# read the tracks dataset
tracks_df = pd.read_csv('data/spotify_daily_charts_tracks.csv')
tracks_df.head()

In [ ]:
df = charts_df.merge(tracks_df, on='track_id', how='left')
df.head()

In [ ]:
#Always check number of rows when performing merges
charts_df.shape, tracks_df.shape, df.shape

In [ ]:
df.columns

In [ ]:
#drop duplicated track_name column
df = df.drop(columns='track_name_y')
#rename trace_name x
df = df.rename(columns={'track_name_x':'track_name'})
df.head()

In [ ]:
#check if expected columns are present
df.columns

## Q&A

Q1: What are the top 10 songs in terms of total streams from 2018 to 2020?

In [ ]:
# groupby tracks and sum streams, sort and get first 10 rows 
df.groupby(['track_id','track_name'])['streams'].sum().sort_values(ascending=False)[:10]

Q2: Whats the mean tempo of the top 10 most streamed songs?

In [ ]:
top10songs = df.groupby(['track_id','track_name'])['streams'].sum()\
            .sort_values(ascending=False)[:10]\
            .reset_index()['track_id'].values
top10songs

In [ ]:
#isin selects elements in list
df[df['track_id'].isin(top10songs)]['tempo'].mean() #in bpm

Q2a. Follow-up: How does this compare with the mean tempo of the rest of the songs?

In [ ]:
#use ~ to negate
df[~df['track_id'].isin(top10songs)]['tempo'].mean() #in bpm

Q3: What are the top 5 “saddest” charting songs for 2020?

In [ ]:
#filter by year, drop duplicates for track, sort valence from least to greatest,get first 5 indices 
df[df['year']==2020].drop_duplicates(['track_id','track_name']).sort_values('valence')[:5][['track_name','artist']]

### Plain tables as output?
1. Tables are simple fast answers to simple fast questions
2. Tables are very useful for troubleshooting. The numbers often reveal if there was something wrong with the data source/processing
3. In most office setups, analtyics output are often offtaked by another team (e.g. market segments group -> finance for sales projections). As it could be readily plugged into their computations, they usually prefer tables instead of deployed products.